openapi: 3.2.0
info:
  title: Ghent University Academic Bibliography Un API
  version: '2026-09-01'
  summary: Search, export and harvest 200 years of Ghent University research output.
  description: The Academic Bibliography (Biblio) is Ghent University's institutional publication and dataset registry, operated by Ghent University Library on the university's own host. It exposes a JSON/JSONP REST search API, per-record and bulk exports in fourteen bibliographic formats, an OAI-PMH 2.0 harvesting endpoint, an SRU 1.1 search service driven by CQL, a unAPI discovery service, RSS feeds and daily full-dataset dumps. Metadata is published under the Open Database License (ODbL).
  termsOfService: https://www.ugent.be/en/disclaimer
  contact:
    name: Ghent University Library
    email: libservice@ugent.be
    url: https://biblio.ugent.be/doc/api
  license:
    name: Open Database License (ODbL)
    url: http://opendatacommons.org/licenses/odbl/
servers:
- url: https://biblio.ugent.be
  description: Production
tags:
- name: unAPI
  description: unAPI 1 alternate-format discovery.
paths:
  /unapi:
    get:
      tags:
      - unAPI
      operationId: unapi
      summary: unAPI 1 alternate-format discovery
      description: With no parameters, returns the list of formats available for all records. With id, the formats for one record. With id and format, the record itself.
      parameters:
      - name: id
        in: query
        schema:
          type: string
        example: '2003357'
      - name: format
        in: query
        schema:
          $ref: '#/components/schemas/RecordFormat'
      responses:
        '200':
          description: unAPI formats document or a record
          content:
            application/xml:
              schema:
                type: string
components:
  schemas:
    RecordFormat:
      type: string
      description: Export formats named in the Academic Bibliography documentation.
      enum:
      - json
      - yaml
      - bibtex
      - ris
      - csv
      - xlsx
      - rdf
      - mods
      - mods_vabb
      - mods_36
      - mods_fwo
      - dc
      - mets
      - didl
      - txt
      - doc
