openapi: 3.2.0
info:
  title: Ghent University Academic Bibliography Dumps API
  version: '2026-09-01'
  summary: Search, export and harvest 200 years of Ghent University research output.
  description: The Academic Bibliography (Biblio) is Ghent University's institutional publication and dataset registry, operated by Ghent University Library on the university's own host. It exposes a JSON/JSONP REST search API, per-record and bulk exports in fourteen bibliographic formats, an OAI-PMH 2.0 harvesting endpoint, an SRU 1.1 search service driven by CQL, a unAPI discovery service, RSS feeds and daily full-dataset dumps. Metadata is published under the Open Database License (ODbL).
  termsOfService: https://www.ugent.be/en/disclaimer
  contact:
    name: Ghent University Library
    email: libservice@ugent.be
    url: https://biblio.ugent.be/doc/api
  license:
    name: Open Database License (ODbL)
    url: http://opendatacommons.org/licenses/odbl/
servers:
- url: https://biblio.ugent.be
  description: Production
tags:
- name: Dumps
  description: Daily full-dataset dumps under ODbL.
paths:
  /exports/publications.csv:
    get:
      tags:
      - Dumps
      operationId: dumpCsv
      summary: Daily full dataset, comma-separated (~370MB; .zip variant ~130MB)
      responses:
        '200':
          description: CSV dump
          content:
            text/csv:
              schema:
                type: string
  /exports/publications.json:
    get:
      tags:
      - Dumps
      operationId: dumpJson
      summary: Daily full dataset, newline-delimited JSON (~2.2GB; .zip variant ~370MB)
      description: Records conform to the publication JSON Schema in json-schema/.
      responses:
        '200':
          description: NDJSON dump
          content:
            application/json:
              schema:
                type: string
  /exports/publications-mods36.xml:
    get:
      tags:
      - Dumps
      operationId: dumpMods36
      summary: Daily full dataset, MODS 3.6 (~3.3GB; .zip variant ~320MB)
      responses:
        '200':
          description: MODS dump
          content:
            application/xml:
              schema:
                type: string
