openapi: 3.2.0
info:
  title: Ghent University Academic Bibliography Search API
  version: '2026-09-01'
  summary: Search, export and harvest 200 years of Ghent University research output.
  description: The Academic Bibliography (Biblio) is Ghent University's institutional publication and dataset registry, operated by Ghent University Library on the university's own host. It exposes a JSON/JSONP REST search API, per-record and bulk exports in fourteen bibliographic formats, an OAI-PMH 2.0 harvesting endpoint, an SRU 1.1 search service driven by CQL, a unAPI discovery service, RSS feeds and daily full-dataset dumps. Metadata is published under the Open Database License (ODbL).
  termsOfService: https://www.ugent.be/en/disclaimer
  contact:
    name: Ghent University Library
    email: libservice@ugent.be
    url: https://biblio.ugent.be/doc/api
  license:
    name: Open Database License (ODbL)
    url: http://opendatacommons.org/licenses/odbl/
servers:
- url: https://biblio.ugent.be
  description: Production
tags:
- name: Search
  description: REST search over publications and datasets.
paths:
  /publication:
    get:
      tags:
      - Search
      operationId: searchPublications
      summary: Search publications and datasets
      description: Returns a JSON result envelope. Adding a callback parameter returns JSONP wrapped in that function name.
      parameters:
      - name: q
        in: query
        description: CQL query. See the CQL index list in vocabulary/.
        schema:
          type: string
        example: dna
      - name: format
        in: query
        required: true
        schema:
          type: string
          enum:
          - json
      - name: sort
        in: query
        description: Comma-separated sort keys, each "field.asc" or "field.desc".
        schema:
          type: string
        example: year.desc,title.asc
      - name: limit
        in: query
        schema:
          type: integer
      - name: start
        in: query
        schema:
          type: integer
      - name: callback
        in: query
        description: JSONP callback function name.
        schema:
          type: string
      responses:
        '200':
          description: Search result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
            text/javascript:
              schema:
                type: string
                description: JSONP-wrapped SearchResult
  /siteindex.xml:
    get:
      tags:
      - Search
      operationId: siteIndex
      summary: Sitemap index listing all records
      description: A lightweight way to harvest every record URL.
      responses:
        '200':
          description: Sitemap index
          content:
            text/xml:
              schema:
                type: string
components:
  schemas:
    SearchResult:
      type: object
      properties:
        hits:
          type: array
          description: Publication records.
          items:
            $ref: https://biblio.ugent.be/schema/publication.schema.latest.json
        limit:
          type: integer
        total:
          type: integer
        size:
          type: integer
        start:
          type: integer
