openapi: 3.2.0
info:
  title: Ghent University Academic Bibliography OAI PMH API
  version: '2026-09-01'
  summary: Search, export and harvest 200 years of Ghent University research output.
  description: The Academic Bibliography (Biblio) is Ghent University's institutional publication and dataset registry, operated by Ghent University Library on the university's own host. It exposes a JSON/JSONP REST search API, per-record and bulk exports in fourteen bibliographic formats, an OAI-PMH 2.0 harvesting endpoint, an SRU 1.1 search service driven by CQL, a unAPI discovery service, RSS feeds and daily full-dataset dumps. Metadata is published under the Open Database License (ODbL).
  termsOfService: https://www.ugent.be/en/disclaimer
  contact:
    name: Ghent University Library
    email: libservice@ugent.be
    url: https://biblio.ugent.be/doc/api
  license:
    name: Open Database License (ODbL)
    url: http://opendatacommons.org/licenses/odbl/
servers:
- url: https://biblio.ugent.be
  description: Production
tags:
- name: oai pmh
  description: OAI-PMH 2.0 metadata harvesting.
paths:
  /oai:
    get:
      tags:
      - oai pmh
      operationId: oaiPmh
      summary: OAI-PMH 2.0 harvesting endpoint
      description: Repository identifier archive.ugent.be, repository name "Ghent University Institutional Archive", deletedRecord policy "persistent", granularity YYYY-MM-DDThh:mm:ssZ. Verified live 2026-09-01.
      parameters:
      - name: verb
        in: query
        required: true
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        schema:
          type: string
        example: oai_dc
      - name: resumptionToken
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
        example: oai:archive.ugent.be:1196384
      - name: set
        in: query
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OAI-PMH response envelope
          content:
            application/xml:
              schema:
                type: string
              externalValue: ../examples/ghent-biblio-oai-identify.xml
