openapi: 3.2.0
info:
  title: Ghent University Academic Bibliography SRU API
  version: '2026-09-01'
  summary: Search, export and harvest 200 years of Ghent University research output.
  description: The Academic Bibliography (Biblio) is Ghent University's institutional publication and dataset registry, operated by Ghent University Library on the university's own host. It exposes a JSON/JSONP REST search API, per-record and bulk exports in fourteen bibliographic formats, an OAI-PMH 2.0 harvesting endpoint, an SRU 1.1 search service driven by CQL, a unAPI discovery service, RSS feeds and daily full-dataset dumps. Metadata is published under the Open Database License (ODbL).
  termsOfService: https://www.ugent.be/en/disclaimer
  contact:
    name: Ghent University Library
    email: libservice@ugent.be
    url: https://biblio.ugent.be/doc/api
  license:
    name: Open Database License (ODbL)
    url: http://opendatacommons.org/licenses/odbl/
servers:
- url: https://biblio.ugent.be
  description: Production
tags:
- name: SRU
  description: SRU 1.1 search/retrieve over CQL.
paths:
  /sru:
    get:
      tags:
      - SRU
      operationId: sruSearchRetrieve
      summary: SRU 1.1 search/retrieve over CQL
      description: The scan and explain operations and result sets are not supported. Only the default CQL context set is available.
      parameters:
      - name: version
        in: query
        required: true
        schema:
          type: string
          enum:
          - '1.1'
      - name: operation
        in: query
        required: true
        schema:
          type: string
          enum:
          - searchRetrieve
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: title any "dna loci"
      - name: maximumRecords
        in: query
        schema:
          type: integer
      - name: startRecord
        in: query
        schema:
          type: integer
      - name: sortKeys
        in: query
        schema:
          type: string
        example: year,,0
      responses:
        '200':
          description: SRU searchRetrieveResponse
          content:
            text/xml:
              schema:
                type: string
